<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>how many more courses?</title>
  
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css">

</head>
<body  ng-app="main">

  <h1>PSU Comp Sci Course Requirements Checklist</h1>
  <div ng-controller="courses"> 
    <table class="table table-bordered compress">
      <thead>
          <tr headers></tr>
      </thead>
      <tbody>
        <tr ng-repeat='course in courses'>
          <td>{{course.name}}</td>
          <td>{{course.number}}</td>
          <td>{{course.credits}}</td>
          <td> 
            <input type="checkbox" name="completed" ng-model="course.completed" ng-change="toggleCompleted()"/>
          </td>
          <td>
            <input type="checkbox" name="scheduled" ng-model="course.scheduled" ng-change="toggleScheduled()"/>
          </td>
        </tr>
        <tr degree-audit></tr>
      </tbody>
    </table>
    <button ng-click='reset()'>Reset Checklist</button>
    <a href="http://www.cse.psu.edu/curriculum/courses">Course Syallbus</a>

   <!--  Other:
    <input type="checkbox" name="completed" ng-model='c' ng-change='toggleCompleted()' />
    {{c}}
    <div ng-repeat='course in courses'>
      {{course.name}} <input type="checkbox" name="scheduled" ng-model="course.scheduled" ng-change="toggleScheduled(course)"/>
    </div> -->
  </div>

</body>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/ngstorage/ngstorage.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/directives/tableDirective.js"></script>
  <script src="js/services/cmpscStorage.js"></script>
</html>
