<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>how many more courses?</title>
  
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.min.js"></script>
</head>
<body  ng-app="main">

  <h1>PSU Comp Sci Course Requirements Checklist</h1>
  <div ng-controller="requiredCourses">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>name</td>
          <td>number</td>
          <td>credits</td>
          <td>done</td>
          <td>schedule</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in courses">
          <td>{{course.name}}</td>
          <td>{{course.number}}</td>
          <td>{{course.credits}}</td>
          <td>{{course.done}}</td>
          <td>{{course.schedule}}</td>
        </tr>
      </tbody>
   </table>
  </div>

  <div ng-controller="testCase"> 
    <div ng-repeat='test in tests'>
      <x-required-table info='test'></x-required-table>
    </div>
  </div>

</body>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/directives/tableDirective.js"></script>
  <script src="js/services/cmpscStorage.js"></script>
</html>
